@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* apply to the base layer which is typically targeting html and body tags */

  @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
  /* import Roboto from google fonts */

  :root {
    --emerald: 2, 138, 15;
    --font-primary: "Roboto", "Times New Roman", sans-serif, Arial;
  }
  /* create a custom css variable color and font family primary at the root level in css */

  body {
    font-family: var(--font-primary); /* Apply globally to the body */
  }

  /* apply font family yo the body */
}
