@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* apply to the base layer which is typically targeting html and body tags */

  @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
  /* import Roboto from google fonts */

  :root {
    --emerald: 2, 138, 15;
    --font-primary: "Roboto", "Times New Roman", sans-serif, Arial;
  }
  /* create a custom css variable color and font family primary at the root level in css */

  body {
    font-family: var(--font-primary); /* Apply globally to the body */
  }

  /* apply font family yo the body */
}

@layer utilities {
  .paused {
    animation-play-state: paused;
  }
  /* above is custom css to pause animation*/

  .fadeout-horizontal {
    mask-image: linear-gradient(
      to right,
      transparent,
      rgba(var(--emerald), 1) 5rem,
      rgba(var(--emerald), 1) calc(100% - 5rem),
      /* Use rgba for color and opacity */ transparent
    );
    /* mask image allows us to control how much of a element we see and they take a linear gradient.*/

    -webkit-mask-image: linear-gradient(
      to right,
      transparent,
      rgba(var(--emerald), 1) 5rem,
      rgba(var(--emerald), 1) calc(100% - 5rem),
      transparent
    );

    /* -webkit-mask-image ensures compatibility with WebKit-based browsers (e.g., Safari). */
  }

  /* fadeout-horizontal used in our marquee component*/
}

@keyframes marquee {
  0% {
    transform: translateX(-50%);
  }
}

/* Above helps tranistion a element at different positions.*/
